main {
  margin-top: 4rem;
}

@media (max-width: 431px) {
  main {
    margin-top: 15rem;
    padding: unset;
  }
}

@media (max-width: 412px) {
  main {
    margin-top: 15rem;
    padding: unset;
  }
}
