main {
  margin-top: 4rem;
}

@media (max-width: 1536px) {
  main {
    margin-top: 8rem;
    padding: unset;
  }
}

@media (max-width: 575px) {
  main {
    margin-top: 15rem;
    padding: unset;
  }
}

@media (max-width: 435px) {
  main {
    margin-top: 15rem;
    padding: unset;
  }
}

@media (max-width: 431px) {
  main {
    margin-top: 15rem;
    padding: unset;
  }
}

@media (max-width: 412px) {
  main {
    margin-top: 15rem;
    padding: unset;
  }
}
