.evolution-chain {
  padding-block: 2rem;
}
.ec-container {
  padding-block: 1rem;
  padding-inline: 1rem;
  text-align: center;
}

.ec-head {
  padding-bottom: 1rem;
  text-align: left;
}
.ec-pokemons {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
}

.chain-connector {
  position: absolute;
  height: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--type-color);
  width: 50%;
}

.chain-connector.no-evolution,
.chain-connector.one-evolution {
  display: none;
}

.ec-pokemon-name {
  text-transform: capitalize;
  color: black;
  padding-block: 0.5rem;
}
.ec-pokemon {
  width: 200px;
  position: relative;
}
.ec-pokemon-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 100%;
  padding: 1.5rem;
  background-color: var(--light-gray);
  display: flex;
  border: 4px solid var(--type-color);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ec-pokemon-image img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

/* Responsive design  */

/* 📱 Extra small devices (phones <576px) */
@media (max-width: 575.98px) {
  .pk-details-container {
    flex-direction: column;
  }

  .pk-details-container .pokemon-card {
    width: 100%;
  }

  .pk-stats-content-title {
    width: 100%;
  }

  .pk-stats-content {
    width: 400px;
    min-height: 250px;
  }

  .detailtabs-content {
    width: 100%;
  }

  .ec-pokemons {
    flex-direction: column;
  }
}

/* 📲 Small devices (phones 576px–767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .pk-details-container {
    flex-direction: column;
  }

  .pk-details-container .pokemon-card {
    width: 100%;
  }

  .pk-stats-content-title {
    width: 100%;
  }

  .pk-stats-content {
    width: 400px;
    min-height: 250px;
  }

  .detailtabs-content {
    width: 100%;
  }
  .stat-row {
    background-color: rebeccapurple;
  }

  .ec-pokemons {
    flex-direction: column;
  }
}

/* 💻 Medium devices (tablets 768px–991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* 🖥️ Large devices (992px–1199.98px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* 🧑‍💻 Extra large (1200px–1399.98px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* 🌄 XXL screens (1400px–1599.98px) */
@media (min-width: 1400px) and (max-width: 1599.98px) {
}

/* 🖼️ Ultra-wide (≥1600px and above, e.g., 4K) */
@media (min-width: 1600px) {
}
