.home-container {
  min-height: 100vh;
}
.home-pokemon-cards {
  display: grid;
  padding-top: 1rem;
  gap: 2rem;
  padding-inline: var(--padding-inline);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.pokemon-card {
  padding: 1rem;
}

.news-cards-wrapper {
  background-color: var(--light-gray);
  padding-inline: var(--padding-inline);
}

.category-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 1.5rem;
  background-color: white;
  padding-top: 0.5rem;
  padding-bottom: 4rem;
  padding-inline: var(--padding-inline);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.home-container .news-cards .news-card {
  margin-block: 2rem;
  border-bottom: 2px solid var(--gray-200);
  padding-block: 0.5rem;
}

/* Extra Large - Normal desktops/laptops (< 1400px) */
@media (max-width: 1399.98px) {
  body {
    background-color: #d6e9f9; /* Light blue */
  }
}

/* Large - Small laptops/tablets in landscape (< 1200px) */
@media (max-width: 1199.98px) {
  body {
    background-color: #c1f0dc; /* Mint green */
  }
}

/* Medium - Tablets in portrait (< 992px) */
@media (max-width: 991.98px) {
  body {
    background-color: #fff0b3; /* Light yellow */
  }
}

/* Small - Phones in landscape/small tablets (< 768px) */
@media (max-width: 767.98px) {
  body {
    background-color: #ffc2c2; /* Soft red */
  }
  .nav-container {
    flex-direction: column;
  }
}

/* Extra Small - Phones in portrait (< 576px) */
@media (max-width: 575.98px) {
  body {
    background-color: #e0ccff; /* Lavender */
  }

  .home-container .news-cards .news-card {
    margin-block: 0;
  }
}

/* Extra Extra Small - Tiny screens like iPhone SE (< 320px) */
@media (max-width: 319.98px) {
  body {
    background-color: #cccccc; /* Gray fallback */
  }
}
