.pk-details {
  padding: 2rem;
}

.pk-details-container {
  display: flex;
  gap: 2rem;
}

.pk-details-container .pokemon-card {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.pk-stats {
  width: 50%;
}

.pk-stats-container {
  display: flex;
  flex-direction: column;
}

.pk-stats-head-container {
  display: flex;
  gap: 2rem;
  border-bottom: 2px solid var(--light-gray);
  margin-bottom: 1rem;
}

.pk-stats-head {
  font-weight: bold;
  color: var(--dark-gray);
  cursor: pointer;
  padding-bottom: 1rem;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.pk-stats-head.active-tab {
  border-bottom: 3px solid black;
  color: black;
}

.pk-stats-content {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  gap: 1rem;
}

.pk-stats-content-title {
  display: flex;
  justify-content: space-between;
  padding-block: 0.2rem;
  text-transform: capitalize;
  gap: 2rem;
}

.pk-stats-content-title .title {
  color: var(--dark-gray);
}

.detailtabs-content::first-letter {
  text-transform: capitalize;
}

.detailtabs-content.moves-content {
  width: 100%;
  text-transform: capitalize;
}

.detailtabs-content.moves-content p {
  color: var(--dark-gray);
  padding-bottom: 0.2rem;
}

.stat-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.stat-name {
  width: 130px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  color: var(--dark-gray);
}

.stat-bar-wrapper {
  background-color: #eee;
  height: 8px;
  width: 100%;
  margin: 0 1rem;
  border-radius: 6px;
  overflow: hidden;
}

.stat-bar {
  height: 100%;
  border-radius: 6px;
  transition: width 0.4s ease-in-out;
}

/* Optional: Stat-specific colors */
.stat-bar.hp {
  background-color: #ff5959;
}
.stat-bar.attack {
  background-color: #f5ac78;
}
.stat-bar.defense {
  background-color: #fae078;
}

.stat-bar.special-attack {
  background-color: #9db7f5;
}

.stat-bar.special-defense {
  background-color: #a7db8d;
}
.stat-bar.speed {
  background-color: #fa92b2;
}

.stat-value {
  width: 30px;
  text-align: right;
  font-weight: 600;
  font-size: 14px;
}
