.nav-container {
  display: flex;
  gap: 4rem;
}

.nav-right {
  display: flex;
  align-items: center;
  width: 40%;
  background: var(--light-gray);
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 80px;
  color: var(--dark-gray);
}

.search-icon {
  padding-left: 1rem;
}

.search-input {
  width: 100%;
}

.search-input input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: none;
  background: var(--light-gray);
  font-size: 1.1rem;
  color: var(--dark-gray);
}

.search-input input::placeholder {
  color: var(--dark-gray);
}

@media (max-width: 1536px) {
  header {
    position: fixed;
    padding-block: 2rem;
    width: 100%;
    z-index: 50;
    background-color: white;
    top: 0;
  }
}

@media (max-width: 575px) {
  header {
    position: fixed;
    padding-block: 2rem;
    width: 100%;
    z-index: 50;
    background-color: white;
    top: 0;
  }
  .container {
    padding: 1rem;
  }

  .nav-container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .nav-right {
    width: 90%;
  }
}

@media (max-width: 435px) {
  header {
    position: fixed;
    padding-block: 2rem;
    width: 100%;
    z-index: 50;
    background-color: white;
    top: 0;
  }
  .container {
    padding: 1rem;
  }

  .nav-container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .nav-right {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 431px) {
  header {
    position: fixed;
    padding-block: 2rem;
    width: 100%;
    z-index: 50;
    background-color: white;
    top: 0;
  }
  .container {
    padding: 1rem;
  }

  .nav-container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .nav-right {
    width: 90%;
  }
}

@media (max-width: 415px) {
  header {
    position: fixed;
    padding-block: 2rem;
    width: 100%;
    z-index: 50;
    background-color: white;
    top: 0;
  }
  .container {
    padding: 1rem;
  }

  .nav-container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .nav-right {
    width: 90%;
  }
}

@media (max-width: 414px) {
  header {
    position: fixed;
    padding-block: 2rem;
    width: 100%;
    z-index: 50;
    background-color: white;
    top: 0;
  }
  .container {
    padding: 1rem;
  }

  .nav-container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .nav-right {
    width: 90%;
  }
}

@media (max-width: 375px) {
  header {
    position: fixed;
    padding-block: 2rem;
    width: 100%;
    z-index: 50;
    background-color: white;
    top: 0;
  }
  .container {
    padding: 1rem;
  }

  .nav-container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .nav-right {
    width: 90%;
  }
}
