aside {
  flex: 1;
}

.nav-link {
  padding: 1rem 0;
}

.nav-link-container {
  color: var(--dark-gray);
  display: flex;
  gap: 1rem;
  align-content: center;
  font-size: 1.3rem;
}

@media (max-width: 575px) {
  aside {
    flex: none;
  }
  .side-bar {
    position: relative;
  }
  .sidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    width: 100%;
    gap: 4rem;
    background-color: white;
    position: fixed;
    top: 12%;
  }
}

@media (max-width: 431px) {
  aside {
    flex: none;
  }
  .side-bar {
    position: relative;
  }
  .sidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    width: 100%;
    gap: 1rem;
    background-color: white;
    position: fixed;
    top: 18%;
  }
}

@media (max-width: 415px) {
  .side-bar {
    position: relative;
  }
  .sidebar-container {
    display: flex;
    align-items: center;
    z-index: 50;
    width: 100%;
    gap: 1rem;
    background-color: white;
    position: fixed;
    top: 20%;
  }
}

@media (max-width: 414px) {
  .side-bar {
    position: relative;
  }
  .sidebar-container {
    display: flex;
    align-items: center;
    z-index: 50;
    width: 100%;
    gap: 1rem;
    background-color: white;
    position: fixed;
    top: 20%;
  }
}

@media (max-width: 376px) {
  .container {
    padding: 1rem;
  }
  aside {
    width: 100%;
    position: relative;
  }

  .side-bar {
    width: 100%;
  }

  .sidebar-container {
    top: 25%;
    width: 100%;
    background: transparent;
    background-color: white;
    justify-content: left;
  }
}
